/*heading*/
#heading{
  background-color: rgb(61, 120, 209) ;
  height: 60px;
  padding-top: 10px;
  color: aliceblue;
  text-align: center;
  font-size: 30px;

}

/* Plan buttons*/
.btn1{
  height: 40px;
  width: 30%;
  background: rgb(18, 13, 51);
  color: aliceblue;
}
.btn2{
  height: 40px;
  width: 30%;
  background: rgb(18, 13, 51);
  color: aliceblue;

}


.pricebox
{
 
 width: 1340px;
 height: 450px;
 border: 1px solid rgba(238, 224, 224, 0.014);
 margin: auto;
 display: flex;
 
 
}  

/*silver plan*/

.sl
{
  border: 2px solid #69df87;
  width: 30%;
  height: 95%;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 25px;
}

#contentalignment{

  padding-left: 20px;
  padding-right: 20px;

}
small{
  color: gray;
}


#silverplan{
  color: blue;
  font-size: 25px;
  }

#hover
{
  
  border: 2px solid rgb(95, 128, 107);
  border-radius: 20px;
  padding: 10px;
    
}

.focus{
  background-color: blue;
}


.choosplan
{
  margin-left: 15%;
  height: 40px;
  width: 70%;
  background-color: rgba(231, 62, 76, 0.986);
  border-radius: 20px;
  color: beige;
}



/*Gold plan*/
.gl
{
  border: 2px solid #69df87;
  width: 30%;
  height: 95%;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 25px;
  
}


/*unlimited plan*/
.ul
{
  border: 2px solid #69df87;
  width: 30%;
  height: 95%;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 25px;
 
}